@import "styles/variables.scss";
@import "styles/general-mixins.scss";

.movies-list {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.movies-list::after{
  content: '';
  display: table;
  clear: both;
}

.movie-item {
  width: 50%;
  margin: 0;
  padding: 1em;
  display: block;  
  background-color: $dark-black-light;
  text-decoration: none;

  @media (max-width: $screen-tb){
    &.is-half-mobile{
      width: 50%;
    }
  }

  @media (min-width: $screen-tb){
    &.is-one-third-tablet{
      width: 33.3333%;
    }
  }

  @media (min-width: $screen-dt){
    &.is-one-quarter-desktop{
      width: 25%;
    }
  }

  @media (min-width: $screen-hd){
    &.is-one-fifth-fullhd{
      width: 20%;
    }
  }

  .block-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .movie-thumbnail {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;        
        object-fit: cover;
      };
    }
  
    .movie-meta {
      display: flex;
      flex-direction: column;
      padding: 0.4em 0.8em;

      h3 {
        text-transform: uppercase;
        font-size: 1em;
        margin: 0;
        color: #44e2ff;
      }
      .movie-title2 {
        font-size: 0.8em;
        color: $white;
      }
      .movie-duration {
        font-size: 0.8em;
        color: $white;
      }
    }
  }
}