@import './variables.scss';

//app css go here
a:link { 
  color: $blue; 
  font-weight: bold; 
  text-decoration: none; 
} 

a:visited {
  color: $blue-purple; 
} 

a:hover {
  text-decoration: none; 
} 

a:active {  
  color: $red; 
}