//typography go here

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts//Nunito-Regular.ttf) format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts/Nunito-Light.ttf) format('truetype');
}