$white: #ffffff;
$white-opacity-10: rgba(255, 255, 255, 0.1);
$white-opacity-25: rgba(255, 255, 255, 0.25);
$white-opacity-50: rgba(255, 255, 255, 0.5);
$white-dark: #abb7c4;

$blue:#1476b8;
$blue-purple: #1430b8;
$blue-dark: #233a50;
$red: #b81414;
$dark-black: #020d18;
$dark-black-light: #071829;

// Default breakpoints for all elements and for media query min-width
//xs: 480px - 30em
//md: 992px - 62em
$screen-xs: 30em;
$screen-md: 62em;

// Line height
$base-line-height: 1.1;
$font-family: "Nunito", Helvetica, Arial, sans-serif;
$font-menu: "Dosis", Helvetica, Arial, sans-serif;