@import "styles/variables.scss";
@import "styles/general-mixins.scss";

.header-layout {
  padding: 1em;
  .container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .logo-block{
      display: inline-block;
      a {
        display: flex;
        img {
          width: 3rem;
          height: 3rem;        
        }
        .logo-text{
          font-size: 2em;
          text-transform: uppercase;
          margin-left: 0.7em;
          color: $white;
        }
      }      
    }  

    nav.primary-menu {
      &.open {
        display: block;  
      }
      
      display: none;      
      background-color: $dark-black-light;
      padding-left: 2em;  
      padding-right: 2em;  
      font-family: $font-menu;
      font-weight: bold;
      
      .left-menu {
        margin: 0;
        padding-left:0;
        list-style: none;
        li>a {
          display: inline-block;
          padding: 0.4em 0;
          color: $white-dark;
          font-weight: normal;
          text-transform: uppercase;
        }
        li + li {
          margin-top: 0.2em;
        }
      }
      .right-menu {
        margin:0;
        padding-left:0;
        list-style: none;
        li>a {
          display: inline-block;
          padding: 0.4em 1em;
          color: $white-dark;
          font-weight: normal;
          text-transform: uppercase;
        }

        li + li {
          margin-top: 0.2em;
        }

        .login-btn>a{
          background-color: #dd003f;
          color: white;
          border-radius: 0.3em;
        }
        .register-btn>a{
          background-color: #dd003f;
          color: white;
          border-radius: 0.3em;
        }
      }
    }

    .collapse-button {
      position: absolute;
      top: 0.1em;
      right: 0;
      margin-left:auto;
      color: $white;

      border: 0;
      background-color: transparent;
      font-size: 3em;
      width: 1em;
      height: 1em;
      line-height: 0.4;
      text-indent: 5em;
      white-space: nowrap;
      overflow: hidden;
      
      &::after{
        position: absolute;
        top: 0.1em;
        right: 0;
        display: block;
        content: '\2261';
        text-indent: 0;
      }
    }
  }
}

@media (min-width: $screen-xs){  
  .header-layout {
    font-size: 0.8em;
    .container {    
      nav.primary-menu {
        &.open {
          display: flex;
        }
        display: flex;
        justify-content: space-between;

        .left-menu {
          display: flex;
          li>a{
            padding-right: 2em;
          }
          li + li {
            margin-top: 0;
            margin-left: 0.2em;
          }
        }
        .right-menu {
          display: flex;
          li + li {
            margin-top: 0;
            margin-left: 0.2em;
          }
        }
      }
      .collapse-button{
        display: none;
      }
    }
  }
}

.header-theme {
  background-color: $dark-black;  
}